/* Start Variables */

:root {
    --main-color: #bc8c4c;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

header {
    background-color: #212529;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header .container .first-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #bdbdbd;
}

header .container .first-nav img {
    width: 55px;
}

header .container .first-nav a {
    color: #adb5bd;
    font-size: 14px;
}

header .container .first-nav a span {
    text-transform: uppercase;
    color: var(--main-color, #bc8c4c);
    font-weight: 600;
}

header .container .sec-nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .sec-nav ul {
    display: flex;
}

@media (max-width: 576px) {
    header .container .sec-nav ul {
        display: none;
    }
}

header .container .sec-nav ul li a {
    padding: 15px;
    text-transform: capitalize;
    color: white;
    font-size: 13px;
    display: block;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}


header .container .sec-nav ul li a:hover {
    color: #ffffffbf;
}

header .container .sec-nav>a {
    color: white;
    font-size: 14px;
    background-color: var(--main-color, #bc8c4c);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 576px) {
    header .container .sec-nav>a {
        display: none;
    }
}

header .container .sec-nav>a:hover {
    background-color: #a4783d;
}

header .container .sec-nav .menu {
    display: none;
    width: 50px;
    height: 40px;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #383b3f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 576px) {
    header .container .sec-nav .menu {
        display: flex;
    }
}

header .container .sec-nav .menu span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

/* End Header */

/* Start Landing */

.landing {
    position: relative;
    background-image: url(../photos/landing.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 120vh;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.85);
}

.landing .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.landing .container img {
    width: 200px;
}

.landing .container h1:first-of-type {
    font-size: 18px;
}

.landing .container h1:last-of-type {
    font-size: 67px;
    margin-top: -15px;
}

@media (max-width: 991px) {
    .landing .container h1:last-of-type {
        font-size: 57px;
    }
}


@media (max-width: 768px) {
    .landing .container h1:last-of-type {
        font-size: 35px;
        margin-top: 0;
    }
}

.landing .container a {
    color: white;
    text-transform: capitalize;
    background-color: var(--main-color, #bc8c4c);
    padding: 15px 25px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.landing .container a:hover {
    background-color: #a4783d;
}

/* End Landing */