/* Start Variables */

:root {
    --main-color: #bc8c4c;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

a.book {
    color: white;
    text-transform: capitalize;
    background-color: var(--main-color, #bc8c4c);
    padding: 15px 25px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    width: fit-content;
}

a.book:hover {
    background-color: #a4783d;
}

.title {
    color: #444444;
    margin-bottom: 25px;
}

.title h6 {
    font-size: 17px;
    font-weight: 400;
    opacity: 0.5;
}

.title h3 {
    font-size: 30px;
    font-weight: 500;
}

/* End Component */

/* Start Header */

header {
    background-color: #212529;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header .container .first-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #bdbdbd;
}

header .container .first-nav img {
    width: 55px;
}

header .container .first-nav a {
    color: #adb5bd;
    font-size: 14px;
}

header .container .first-nav a span {
    text-transform: uppercase;
    color: var(--main-color, #bc8c4c);
    font-weight: 600;
}

header .container .sec-nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .sec-nav ul {
    display: flex;
}

@media (max-width: 576px) {
    header .container .sec-nav ul {
        display: none;
    }
}

header .container .sec-nav ul li a {
    padding: 15px;
    text-transform: capitalize;
    color: white;
    font-size: 13px;
    display: block;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}


header .container .sec-nav ul li a:hover {
    color: #ffffffbf;
}

header .container .sec-nav>a {
    color: white;
    font-size: 14px;
    background-color: var(--main-color, #bc8c4c);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

@media (max-width: 576px) {
    header .container .sec-nav>a {
        display: none;
    }
}

header .container .sec-nav>a:hover {
    background-color: #a4783d;
}

header .container .sec-nav .menu {
    display: none;
    width: 50px;
    height: 40px;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #383b3f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 576px) {
    header .container .sec-nav .menu {
        display: flex;
    }
}

header .container .sec-nav .menu span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

/* End Header */

/* Start Landing */

.landing {
    position: relative;
    background-image: url(../photos/landing.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 120vh;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.85);
}

.landing .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.landing .container img {
    width: 200px;
}

.landing .container h1:first-of-type {
    font-size: 18px;
}

.landing .container h1:last-of-type {
    font-size: 67px;
    margin-top: -15px;
}

@media (max-width: 991px) {
    .landing .container h1:last-of-type {
        font-size: 57px;
    }
}


@media (max-width: 768px) {
    .landing .container h1:last-of-type {
        font-size: 35px;
        margin-top: 0;
    }
}

/* End Landing */

/* Start About Us */

.about {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about .container .times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .about .container .times {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .about .container .times .text {
        margin-left: 40px;
    }
}

@media (max-width: 576px) {
    .about .container .times .text {
        margin-left: 0;
    }
}

.about .container .times .text p {
    font-size: 16px;
    color: #444444;
    font-weight: 700;
    opacity: 0.5;
    margin-bottom: 10px;
}

.about .container .times .text p span {
    font-weight: normal;
    display: inline-block;
    margin-left: 5px;
}

.about .container .times .text p:last-of-type {
    margin-bottom: 20px;
}

.about .container .times .images {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .about .container .times .images {
        margin: 10px auto;
        gap: 10px;
    }
}

.about .container .times .images img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 991px) {
    .about .container .times .images img {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .about .container .times .images img {
        width: 49%;
    }
}

.about .container .story {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .about .container .story {
        flex-direction: column;
    }
}

.about .container .story .images {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about .container .story .images {
        gap: 10px;
        margin: 10px auto;
    }
}

.about .container .story .images img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 210px;
}

@media (max-width: 991px) {
    .about .container .story .images img {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .about .container .story .images img {
        width: 49%;
    }
}

.about .container .story .text {
    flex-basis: 48%;
}

@media (max-width: 768px) {
    .about .container .story .text {
        margin: 20px 0 0 40px;
    }
}

@media (max-width: 576px) {
    .about .container .story .text {
        margin-left: 0;
    }
}

.about .container .story .text p {
    color: #444444;
    opacity: 0.5;
    line-height: 1.7;
}

/* End About Us */